Repository sepandhaghighi/samila, pull requests merged in 2024-10, with the labels that each got.

#233 Samila Command Line Interface (CLI)
  .github/workflows/test.yml
  CHANGELOG.md
  README.md
  samila/__main__.py
Labels: enhancement, new feature

#235 Add/limit gh action run
  .github/workflows/test.yml
  CHANGELOG.md
Labels: test

#234 `--verbose` flag added to CLI
  samila/__main__.py
  samila/params.py
Labels: enhancement

#236 Python 3.13
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
  CHANGELOG.md
  setup.py
Labels: test
